# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
service-account.json
coupons70.json
# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
convert.js
offers.xlsx
cashfree_results.json
coupon.js
coupons.json
coupon_script.js
webinar_coupons.xlsx