/*
Default Colors Style
======================================================*/
:root {
  --primary: #fc6441;
  --paragraph: #525271;
  --dark: #0d0d25;
  --white: #ffffff;
}

/*
Default Fonts Style
======================================================*/
:root {
  --headingFont: "Work Sans", sans-serif;
  --bodyFont: "Inter", sans-serif;
  --anotherHeading: "Alfa Slab One", serif;
}
